.card {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
}

.headerBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.closeButton {
    cursor: pointer;
}